
/*                */
/*     section    */
/*                */
section {
    height: auto;
    background: var(--primary-background);
    padding: 55px 0 55px 0;
    scroll-margin-top: -30px;
}

section:first-of-type {
    padding: 0;
}

@media (min-width: 1000px) {
    section {
        scroll-margin-top: 30px;
    }
}

/*                      */
/*    section-header    */
/*                      */
.section-header {
    height: 25px;
    padding-bottom: 10px;
}

/*    "Ökologisches Ferienhaus"    */
.section-header h2 {
    font-size: 1.7rem;
    margin: 25px 0 25px 0;
    line-height: 2.7rem;
    padding: 0;
}

/*    All other section headers    */
.section-header h4 {
    -webkit-text-stroke: 0.5px currentColor;
    font-size: 0.8em;
    letter-spacing: 2px;
}

@media (min-width: 580px) and (max-width: 745px) {
    .section-header {
        padding: 0 1vw 0 3vw;
    }
}

/*                       */
/*    section-content    */
/*                       */
.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-content p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    line-height: 2;
}

@media (min-width: 745px) {
    .section-content {
        padding: 0;
    }
}

@media (min-width: 580px) and (max-width: 745px) {
    .section-content h4 {
        width: unset;
    }
}