:root {
    --primary-background: #e6e4e2;
    --secondary-background: white;
    --striped-background: repeating-linear-gradient(
            -45deg,
            #cccbc9 /* Stripe color */,
            #e0dedd 0.3rem /* Stripe width */,
            transparent 0.3rem /* Transparent start for gap */,
            transparent 0.6rem /* Transparent end for gap (total stripe + gap width) */
    );
}
