---
import Subpage from "../layouts/Subpage.astro"
---

<Subpage 
    title="Impressum" 
    description="Impressum und Kontaktdaten von Scheunenhaus am See - Kasia Swiezak & Marius Bell GbR, Ferienhaus in Uckerfelde, Uckermark."
>
    <a class="bold">IMPRESSUM</a>
    <br />
    <a>
        Kasia Swiezak & Marius Bell GbR<br />
        Meininger Strasse 12<br />
        10823 Berlin<br />
        Tel.: +49 157 535 933 58<br />
        mail@scheunenhausamsee.de<br />
    </a>

    <br /><br />

    <a class="bold">Adresse des Ferienhauses:</a><br />

    <a>
        Scheunenhaus am See<br />
        Seeweg 3<br />
        17291 Uckerfelde OT Bertikow<br />
    </a>

    <br /><br />

    <a class="bold">Website Development - Philip Swiezak</a> <br />
    <a href="https://www.linkedin.com/in/philfreshman/">www.linkedin.com/in/philfreshman</a>
    <br />

    <br /><br />

    <a class="bold">Freunde & Partner</a><br />
    <a href="https://www.rathscheck.de">www.rathscheck.de</a><br />
    <a href="https://www.keim.com/de-de/">www.keim.com/de-de</a><br />
    <a href="https://www.berker.com">www.berker.com</a><br />
    <a href="https://www.claytec.de">www.claytec.de</a><br />
    <a href="https://www.dornbracht.com/de">www.dornbracht.com/de</a><br />
    <a href="https://kalfire.com/de">www.kalfire.com/de</a><br />
    <a href="https://ponymitpudelmutze.tumblr.com">www.ponymitpudelmutze.tumblr.com</a><br />
    <a href="https://www.bananenbiegerei.de">www.bananenbiegerei.de</a><br />
</Subpage>
