@use '../utilities/mixins' as responsive;



#menuToggle {
    @include responsive.hamburger-visibility;
    font-family: 'Raleway', sans-serif;
    display: block;
    position: fixed;
    top: 3vh;
    right: 4vw;
    z-index: 3;
    -webkit-user-select: none;
    user-select: none;


    a {
        text-decoration: none !important;
        color: #232323;
        transition: color 0.3s ease;
    }


    a:hover {
        color: #6c6c6c;
    }

}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -7px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 25vw;
    min-width: 240px;
    margin: -100px 0 0 0;
    padding: 100px 20px 0px 20px;
    right: -100px;
    border-radius: 15px;
    background-color: #e6e4e2;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    box-shadow: 1px 1px 6px 6px rgba(102, 102, 102, 0.1);
}

#menu li {
    padding: 1vh 1vh 2vh;
}

#menuToggle input:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}

