---
import LoadingStripes from "./LoadingStripes.astro"

const GOOGLE_MAPS_API_KEY = import.meta.env.GOOGLE_MAPS_API_KEY;
const GOOGLE_MAPS_PLACE_ID = import.meta.env.GOOGLE_MAPS_PLACE_ID;
---
---
<style>
    iframe {
        height: 100%;
        width: 100%;
    }

    .iframe-container {
        width: 100%;
        position: relative;
    }
    @media (max-width: 1000px) {
        .iframe-container {
            height: 60vh;
        }
    }
    @media (min-width: 1000px) {
        .iframe-container {
            height: 65vh;
        }
    }

    #google-map {
        width: 100%;
        height: 100%; /* Make iframe fill the wrapper */
        border: 0; /* Keep border style here */
    }

    .map-loading-fallback {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e0e0e0; /* Darker background for the fallback */
        color: #333;
        font-size: 1.2em;
        z-index: 2; /* Make sure it's above the iframe initially */
    }

</style>


<LoadingStripes id="maps-stripes">
    <div class="iframe-container">
        <iframe
            style="border: 0"
            loading="lazy"
            allowfullscreen
            src={`https://www.google.com/maps/embed/v1/place?q=place_id:${GOOGLE_MAPS_PLACE_ID}&key=${GOOGLE_MAPS_API_KEY}`}
            onload="(() => {
                document.getElementById('maps-stripes')?.classList.remove('loading-stripes-animation');
            })()"
        />
    </div>
</LoadingStripes>

