---
interface Props {
  id?: string;
  className?: string;
  type: 'wide' | 'narrow'
}
const { id, className, type } = Astro.props

const classes = ['section-content'];
if (className) classes.push(className);
if (type) classes.push(type);
---

<style is:global>
    .section-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-content.wide {
        background: aquamarine;
    }

    .section-content.narrow {
        background: cadetblue;
    }

    .section-content p {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        line-height: 2;
        text-box: auto;
    }

    /*
    @media (min-width: 580px) and (max-width: 745px) {
        .section-content h4 {
            width: unset;
        }
    }

    @media (max-width: 599px) {
        .section-content.wide{
            padding-left: 0;
            padding-right: 0;
        }

        .section-content.narrow{
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media (min-width: 600px) and (max-width: 879px) {
        .section-content.wide {
            padding-left: 1%;
            padding-right: 1%;
        }

        .section-content.narrow{
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media (min-width: 880px) and (max-width: 1299px) {
        .section-content.wide {
            padding-left: 8%;
            padding-right: 8%;
        }

        .section-content.narrow{
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media (min-width: 1300px) and (max-width: 1649px) {
        .section-content.wide {
            padding-left: 12%;
            padding-right: 12%;
        }

        .section-content.narrow{
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media (min-width: 1650px) {
        .section-content.wide {
            padding-left: 14%;
            padding-right: 14%;
        }

        .section-content.narrow{
            padding-left: 0;
            padding-right: 0;
        }
    }
     */
</style>


<div id={id} class={classes.join(' ')}>
    <slot/>
</div>