---
interface Props {
  id?: string;
  className?: string;
  position: 'left' | 'center';
}
const { id, className, position }: Props = Astro.props;

const classes = ['section-header'];
if (className) classes.push(className);
if (position) classes.push(`is-${position}`);
---
<style is:global>
    .section-header {
        margin-bottom: 10px;
        display: flex;
        background: chartreuse;
        border: 1px solid black;

    }

    .section-header span{
        white-space: nowrap;
        display: inline-block;
    }

    .section-header.is-left {
        justify-content: flex-start;
    }

    .section-header.is-center {
        justify-content: center;
    }

    /*    "Ökologisches Ferienhaus"    */
    .section-header h2 {
        font-size: 1.7rem;
        margin: 25px 0 25px 0;
    }

    /*    All other section headers    */
    .section-header h4 {
        -webkit-text-stroke: 0.5px currentColor;
        font-size: 0.8em;
        letter-spacing: 2px;
    }

    @media (min-width: 580px) and (max-width: 745px) {
        .section-header {
            padding: 0 1vw 0 3vw;
        }
    }
</style>

<div id={id} class={classes.join(' ')}>
    <slot/>
</div>