---
import { frontmatter as markdown } from "../content/de/furnishing.md"
import { SECTIONS } from "../utils/constants"
---
<style>
    @media (max-width: 599px) {
        #ausstattung {
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    @media (min-width: 600px) and (max-width: 879px) {
        #ausstattung {
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    @media (min-width: 880px) and (max-width: 1299px) {
        #ausstattung {
            padding-left: 8%;
            padding-right: 8%;
        }
    }
    @media (min-width: 1300px) and (max-width: 1649px) {
        #ausstattung {
            padding-left: 12%;
            padding-right: 12%;
        }
    }
    @media (min-width: 1650px) {
        #ausstattung {
            padding-left: 14%;
            padding-right: 14%;
        }
    }
</style>

<section id={SECTIONS.furnishing}>
    <div class="section-header">
        <h4 set:html={markdown.header} />
    </div>
    <div class="section-content">
        <p set:html={markdown.content} />
    </div>
</section>
