---
import Section from "../components/Section.astro"
import SectionContent from "../components/SectionContent.astro"
import SectionHeader from "../components/SectionHeader.astro"
import { frontmatter as markdown } from "../content/de/furnishing.md"
import { SECTIONS } from "../utils/constants"
---
<style is:global>

</style>

<Section id={SECTIONS.furnishing}>
    <SectionHeader className="section-header" position="left">
        <h4 set:html={markdown.header} />
    </SectionHeader>
    <SectionContent type="wide">
        <p set:html={markdown.content} />
    </SectionContent>
</Section>
