---
import Section from "../components/Section.astro"
import SectionContent from "../components/SectionContent.astro"
import SectionHeader from "../components/SectionHeader.astro"
import { frontmatter as markdown } from "../content/de/furnishing.md"
import { SECTIONS } from "../utils/constants"
---
<style is:global>
    @media (max-width: 599px) {
        #ausstattung {
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    @media (min-width: 600px) and (max-width: 879px) {
        #ausstattung {
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    @media (min-width: 880px) and (max-width: 1299px) {
        #ausstattung {
            padding-left: 8%;
            padding-right: 8%;
        }
    }
    @media (min-width: 1300px) and (max-width: 1649px) {
        #ausstattung {
            padding-left: 12%;
            padding-right: 12%;
        }
    }
    @media (min-width: 1650px) {
        #ausstattung {
            padding-left: 14%;
            padding-right: 14%;
        }
    }
</style>

<Section id={SECTIONS.furnishing}>
    <SectionHeader className="section-header" position="left">
        <h4 set:html={markdown.header} />
    </SectionHeader>
    <SectionContent type="wide">
        <p set:html={markdown.content} />
    </SectionContent>
</Section>
