---
import Calendar from "../components/Calendar.astro"
import LoadingStripes from "../components/LoadingStripes.astro"
import Section from "../components/Section.astro"
import SectionContent from "../components/SectionContent.astro"
import SectionHeader from "../components/SectionHeader.astro"
import { frontmatter as markdown } from "../content/de/occupancy.md"
import { SECTIONS } from "../utils/constants"
---


<style is:global>
    .calendar-container {
        width: 100%; /* Ensure width is 100% to fill parent */
        height: auto; /* Let height be determined by aspect-ratio and max-height */
    }

</style>

<Section id={SECTIONS.occupancy}>
    <SectionHeader position="left">
        <a href={SECTIONS.occupancy} aria-label={markdown.header}>
            <h3 set:html={markdown.header} />
        </a>
    </SectionHeader>
    <SectionContent type="media" className="box-shadow">
        <div class="calendar-container">
            <LoadingStripes id="calendar-stripes">
                <Calendar/>
            </LoadingStripes>
        </div>
    </SectionContent>
</Section>
