---
import Calendar from "../components/Calendar.astro"
import LoadingStripes from "../components/LoadingStripes.astro"
import Section from "../components/Section.astro"
import SectionContent from "../components/SectionContent.astro"
import SectionHeader from "../components/SectionHeader.astro"
import { frontmatter as markdown } from "../content/de/occupancy.md"
import { SECTIONS } from "../utils/constants"
---


<style is:global>
    .calendar-ratio {
        aspect-ratio: 1.5;
    }

    .calendar-container {
        width: 100%; /* Ensure width is 100% to fill parent */
        height: auto; /* Let height be determined by aspect-ratio and max-height */
        aspect-ratio: 1.232; /* Maintain the desired aspect ratio */
        margin-top: 10px;
    }

    @media (max-width: 599px) {
        #belegung {
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    @media (min-width: 600px) and (max-width: 879px) {
        #belegung {
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    @media (min-width: 880px) and (max-width: 1299px) {
        #belegung {
            padding-left: 8%;
            padding-right: 8%;
        }
    }
    @media (min-width: 1300px) and (max-width: 1649px) {
        #belegung {
            padding-left: 12%;
            padding-right: 12%;
        }
    }
    @media (min-width: 1650px) {
        #belegung {
            padding-left: 14%;
            padding-right: 14%;
        }
    }
</style>

<Section id={SECTIONS.occupancy}>
    <SectionHeader position="left">
        <h4 set:html={markdown.header} />
    </SectionHeader>
    <SectionContent type="narrow">
        <div class="calendar-container">
            <LoadingStripes id="calendar-stripes">
                <Calendar/>
            </LoadingStripes>
        </div>
    </SectionContent>
</Section>
