---
import Calendar from "../components/Calendar.astro"
import LoadingStripes from "../components/LoadingStripes.astro"
import Section from "../components/Section.astro"
import SectionContent from "../components/SectionContent.astro"
import SectionHeader from "../components/SectionHeader.astro"
import { frontmatter as markdown } from "../content/de/occupancy.md"
import { SECTIONS } from "../utils/constants"
---


<style is:global>
    .calendar-ratio {
        aspect-ratio: 1.5;
    }

    .calendar-container {
        width: 100%; /* Ensure width is 100% to fill parent */
        height: auto; /* Let height be determined by aspect-ratio and max-height */
        aspect-ratio: 1.232; /* Maintain the desired aspect ratio */
        margin-top: 10px;
    }

</style>

<Section id={SECTIONS.occupancy}>
    <SectionHeader position="left">
        <h4 set:html={markdown.header} />
    </SectionHeader>
    <SectionContent type="narrow">
        <div class="calendar-container">
            <LoadingStripes id="calendar-stripes">
                <Calendar/>
            </LoadingStripes>
        </div>
    </SectionContent>
</Section>
