---
import grundrissImgUrl from "../assets/img/Grundriss.png?url"
import Section from "../components/Section.astro"
import SectionContent from "../components/SectionContent.astro"
import SectionHeader from "../components/SectionHeader.astro"
import { frontmatter as markdown } from "../content/de/floorPlan.md"
import { SECTIONS } from "../utils/constants"
---

<style is:global>
    #grundriss-container img {
        width: 100%;
        aspect-ratio: 1368 / 1242;
    }

</style>

<Section id={SECTIONS.floorPlan}>

    <SectionHeader position="left">
        <h4 set:html={markdown.header} />
    </SectionHeader>

    <SectionContent id="grundriss-container" type="narrow">
        <img
            id="grundriss-bild"
            src={grundrissImgUrl}
            alt="grundriss-bild"
            fetchpriority="auto"
            decoding="async"
        />
    </SectionContent>

</Section>
