---
import GoogleMaps from "../components/GoogleMaps.astro"
import ScrollTrigger from "../components/ScrollTrigger.astro"
import Section from "../components/Section.astro"
import SectionContent from "../components/SectionContent.astro"
import SectionHeader from "../components/SectionHeader.astro"
import { frontmatter as markdown } from "../content/de/contact.md"
import { SECTIONS } from "../utils/constants"
---

<style is:global>
    #contact {
        height: auto;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        -webkit-box-shadow: 0 22px 23px -10px #d1d1d1;
        -moz-box-shadow: 0 22px 23px -10px #d1d1d1;
        box-shadow: 0 22px 23px -10px #d1d1d1;
        margin-bottom: 13px;
    }

    .pb-0 {
        padding-bottom: 0;
    }

    @media (max-width: 599px) {
        #contact {
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    @media (min-width: 600px) and (max-width: 879px) {
        #contact {
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    @media (min-width: 880px) and (max-width: 1299px) {
        #contact {
            padding-left: 8%;
            padding-right: 8%;
        }
    }
    @media (min-width: 1300px) and (max-width: 1649px) {
        #contact {
            padding-left: 12%;
            padding-right: 12%;
        }
    }
    @media (min-width: 1650px) {
        #contact {
            padding-left: 14%;
            padding-right: 14%;
        }
    }

    #contact .section-content p{
        margin-bottom: 4vh;
    }
    #contact a:link {
        text-decoration: none;
        color: black;
        padding-bottom: 4vh !important;
    }

</style>


<Section id={SECTIONS.contact} className="pb-0">
    <SectionHeader position="left">
        <h4 set:html={markdown.header} />
    </SectionHeader>
    <SectionContent type="wide" >
        <p set:html={markdown.content} />
        <GoogleMaps />
    </SectionContent>
    <ScrollTrigger />
</Section>




