---
import GoogleMaps from "../components/GoogleMaps.astro"
import ScrollTrigger from "../components/ScrollTrigger.astro"
import { frontmatter as markdown } from "../content/de/contact.md"
import { SECTIONS } from "../utils/constants"
import LoadingStripes from "../components/LoadingStripes.astro"
---

<style>
    #contact {
        height: auto;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        -webkit-box-shadow: 0 22px 23px -10px #d1d1d1;
        -moz-box-shadow: 0 22px 23px -10px #d1d1d1;
        box-shadow: 0 22px 23px -10px #d1d1d1;
        margin-bottom: 13px;
    }
    @media (max-width: 599px) {
        #contact {
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    @media (min-width: 600px) and (max-width: 879px) {
        #contact {
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    @media (min-width: 880px) and (max-width: 1299px) {
        #contact {
            padding-left: 8%;
            padding-right: 8%;
        }
    }
    @media (min-width: 1300px) and (max-width: 1649px) {
        #contact {
            padding-left: 12%;
            padding-right: 12%;
        }
    }
    @media (min-width: 1650px) {
        #contact {
            padding-left: 14%;
            padding-right: 14%;
        }
    }

    #contact .section-content p{
        margin-bottom: 4vh;
    }
    #contact a:link {
        text-decoration: none;
        color: black;
        padding-bottom: 4vh !important;
    }

</style>


<section id={SECTIONS.contact}>
    <div class="section-header">
        <h4 set:html={markdown.header} />
    </div>
    <div class="section-content">
        <p set:html={markdown.content} />
        <GoogleMaps />
    </div>
    <ScrollTrigger />
</section>




