---
import GoogleMaps from "../components/GoogleMaps.astro"
import ScrollTrigger from "../components/ScrollTrigger.astro"
import Section from "../components/Section.astro"
import SectionContent from "../components/SectionContent.astro"
import SectionHeader from "../components/SectionHeader.astro"
import { frontmatter as markdown } from "../content/de/contact.md"
import { SECTIONS } from "../utils/constants"
---

<style is:global>
    #contact {
        height: auto;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        -webkit-box-shadow: 0 22px 23px -10px #d1d1d1;
        -moz-box-shadow: 0 22px 23px -10px #d1d1d1;
        box-shadow: 0 22px 23px -10px #d1d1d1;
        margin-bottom: 13px;
    }

    .pb-0 {
        padding-bottom: 0;
    }

    #contact-paragraph{
        margin-bottom: 4vh;
    }
    #contact a:link {
        text-decoration: none;
        color: black;
        padding-bottom: 4vh !important;
    }

</style>


<Section id={SECTIONS.contact} className="pb-0">
    <SectionHeader position="left">
        <h4 set:html={markdown.header} />
    </SectionHeader>
    <SectionContent id="contact-paragraph" type="wide">
        <p set:html={markdown.content} />
    </SectionContent>
    <SectionContent type="narrow" >
        <GoogleMaps />
    </SectionContent>
    <ScrollTrigger />
</Section>




