---
import { SECTIONS } from "../utils/constants"
---
<style>
    @media (min-width: 1px) and (max-width: 599px) {
        #preise {
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    @media (min-width: 600px) and (max-width: 879px) {
        #preise {
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    @media (min-width: 880px) and (max-width: 1299px) {
        #preise {
            padding-left: 8%;
            padding-right: 8%;
        }
    }
    @media (min-width: 1300px) and (max-width: 1649px) {
        #preise {
            padding-left: 12%;
            padding-right: 12%;
        }
    }
    @media (min-width: 1650px) {
        #preise {
            padding-left: 14%;
            padding-right: 14%;
        }
    }
</style>

<section id={SECTIONS.price}>

    <div class="section-header">
        <h4>PREISE</h4>
    </div>

    <div class="section-content">
        <p>
            Übernachtung ausserhalb der Ferien, Jan-April und Okt-Dez<br />
            Mindestbuchung von 2 Nächten<br />
            bis 4 Personen: 290 Euro/ pro Nacht
            <br /><br />
            Übernachtung ausserhalb der Ferien, Mai-Sep<br />
            Mindestbuchung von 3 Nächten<br />
            bis 4 Personen: 290 Euro/ pro Nacht
            <br /><br />
            Übernachtung zu allen Ferienzeiten<br />
            Mindestbuchung von 6 Nächten<br />
            bis 4 Personen: 320 Euro/ pro Nacht<br />
            <br />
            Jede weitere Person bis max. 10 Erwachsene: 40 Euro/ pro Nacht
            <br />
            Kinder ab 3 Jahre bis 11 Jahre: 30 Euro/ pro Nacht
            <br /><br />
            Endreinigung: 130 Euro / ab 6 Personen: 150 Euro
            <br /><br />
            Partys und das Mitbringen von Haustieren sind nicht gestattet.
            <br /><br />
            Zahlweise: 50 % bei Angebotsbestätigung per Überweisung, Rest 14 Tage vor Ankunft.
            <br /><br />
            Bei gewerblicher Nutzung gelten andere Preise. Bitte kontaktieren Sie uns gern dazu.
        </p>
    </div>

</section>
