---
import Section from "../components/Section.astro"
import SectionContent from "../components/SectionContent.astro"
import SectionHeader from "../components/SectionHeader.astro"
import { SECTIONS } from "../utils/constants"
---
<style is:global>

</style>

<Section id={SECTIONS.price}>

    <SectionHeader position="left">
        <a href=`#${SECTIONS.price}`>
            <h3>PREISE</h3>
        </a>
    </SectionHeader>

    <SectionContent type="text">
        <p>
            Übernachtung ausserhalb der Ferien, Jan-April und Okt-Dez<br />
            Mindestbuchung von 2 Nächten<br />
            bis 4 Personen: 290 Euro/ pro Nacht
            <br /><br />
            Übernachtung ausserhalb der Ferien, Mai-Sep<br />
            Mindestbuchung von 3 Nächten<br />
            bis 4 Personen: 290 Euro/ pro Nacht
            <br /><br />
            Übernachtung zu allen Ferienzeiten<br />
            Mindestbuchung von 6 Nächten<br />
            bis 4 Personen: 320 Euro/ pro Nacht<br />
            <br />
            Jede weitere Person bis max. 10 Erwachsene: 40 Euro/ pro Nacht
            <br />
            Kinder ab 3 Jahre bis 11 Jahre: 30 Euro/ pro Nacht
            <br /><br />
            Endreinigung: 130 Euro / ab 6 Personen: 150 Euro
            <br /><br />
            Partys und das Mitbringen von Haustieren sind nicht gestattet.
            <br /><br />
            Zahlweise: 50 % bei Angebotsbestätigung per Überweisung, Rest 14 Tage vor Ankunft.
            <br /><br />
            Bei gewerblicher Nutzung gelten andere Preise. Bitte kontaktieren Sie uns gern dazu.
        </p>
    </SectionContent>

</Section>
